<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class=".container">
        <div class="bg-light p-5 rounded-lg">
        <h1 class="display-4">Alpha project</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore deleniti error illo necessitatibus facilis maiores placeat sint magni tempore, officiis quam debitis nam aut est molestiae possimus laborum nemo expedita.</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error perspiciatis ipsum adipisci inventore quo, vitae dolorem atque nam, culpa eligendi, alias totam! Molestiae praesentium mollitia iusto, a ea voluptatum ullam!</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
    </div>

    <%= link_to "Articles page", articles_path %> |
    <%= link_to "About page", about_path %>
</body>
</html>
